{include file="admin@public/header"}
<!--这里引入本页面需要的JS 以及脚本-->
<!--单选复选框-->
<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/build.css">
<!-- validate-->
<script src="__PUBLIC__/plugins/JQuery.validate/jquery.validate.js"></script>
<script src="__PUBLIC__/plugins/JQuery.validate/additional-methods.js"></script>
<script src="__PUBLIC__/plugins/JQuery.validate/zh_cn.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        /*|--表单提交--|*/
        $(".form-submit").click(function(){
            var table = $(this).attr("data-table");
            mdBtnEvent($(this),function(res){
                layer.closeAll("loading");
            });
        });
        $(".form-back").click(function(){
            window.history.back();
        });
        /*|--表单提交--|*/
    });
</script>
<!--这里引入本页面需要的JS 以及脚本-->
</head>
<body>
<!-- Main content -->
<!--主体内容-->
<form action="{:url('shop/Config/saveShopConf')}" id="md{$ctrName}Form">
    <div class="modal-content">

        <div class="modal-body">
            {foreach $conf as $k=>$v}
            <div class="form-group">
                <label>{$v.desc|default='未填写备注'}:</label>
                {if strpos($v.name,'Logo')}
                <div class="input-group">
                    <input type="file" class="add-btn" onchange="reayUpload($(this))" accept="image/*"  capture="camera"  data-id="{$v.name}" data-url="{:url('/admin/Index/uploadImage')}" data-preview="{$v.name}Preview">
                    <input type="hidden" id="{$v.name}" name="{$v.name}" required value="{$v.value}" class="validata_hidden" placeholder="上传{$v.desc}">
                </div>
                <div id="{$v.name}Preview" class="col-lg-12">

                </div>
                {else}
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-send"></i>
                    </div>
                    <input type="text" name="{$v.name}" class="form-control" value="{$v.value}" required>
                </div>
                {/if}
            </div>
            {/foreach}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><i
                    class="fa fa-remove"></i>&nbsp;&nbsp;&nbsp;关闭
            </button>
            <button type="button" class="btn btn-success btn-sm form-submit" data-table="sys{$ctrName}Table"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;保存
            </button>
        </div>
    </div><!-- /.modal-content -->
</form>
</body>
<!-- /.content -->
</html>
