{include file="admin@public/header"}
<!--这里引入本页面需要的JS 以及脚本-->
<link rel="stylesheet" href="__PUBLIC__/bootstrap/table/bootstrap-table.css">
<script src="__PUBLIC__/bootstrap/table/bootstrap-table.js"></script>
<script src="__PUBLIC__/bootstrap/table/locale/bootstrap-table-zh-CN.js"></script>
<!-- InputMask -->
<script src="__PUBLIC__/plugins/input-mask/jquery.inputmask.js"></script>
<script src="__PUBLIC__/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="__PUBLIC__/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // 搜索
        $(".bootstrap-search").click(function(){
            var form = $(this).closest("form").eq(0);
            var refreshTable = $(this).attr("refreshTableID");
            var formId = form.attr("id");
            var data = $("#"+formId).serializeArray();
            var d = {};
            d._tm = new Date();
            $.each(data, function() {
                d[this.name] = this.value;
            });
            $("#"+refreshTable).bootstrapTable('refresh',{
                query: d
            });
        });
        // 重置
        $(".bootstrap-reset").click(function(){
            var form = $(this).closest("form").eq(0);
            var formId = form.attr("id");
            $("#"+formId)[0].reset();
            var refreshTable = $(this).attr("refreshTableID");
            $("#"+refreshTable).bootstrapTable('refresh');
        });
        $(".insert").click(function(){
            var url = "{:url('/admin/Core/storeRole')}";
            sessionStorage.removeItem("mdRoleId");
            mdAjax($(this),url,{},function(res){
                mdFormModal(res);
                layer.closeAll("loading");
            },'get','html');
        });
    });
    //每行操作渲染
    function actionFormatter() {
        return '<div class="btn-group"><button class="btn bg-olive btn-sm edit">编辑</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn  bg-orange btn-sm delete">删除</button></div>';
    }
    function iconFormatter(value,row,index){
        return '<i class="fa '+value+'"></i>';
    }
    //每行操作对应事件
    window.actionEvents = {
        'click .delete': function (e, value, row, index) {
            var url = "{:url('/admin/Core/deleteRole/id/" + row.id + "')}";
            var table = 'sysRoleTable';
            mdConfirmModal('modal-sm','提示','确定删除此菜单吗?',url,table);
            /*mdAjax($(this),url,{},function(res){
             swal('提示', res["msg"], "success");
             $("#sysRoleTable").bootstrapTable('refresh');

             },'GET');*/
        },
        'click .edit': function (e, value, row, index) {
            var url = "{:url('/admin/Core/storeRole/id/" + row.id + "')}";
            session("mdRoleId",row.id);
            var data = {};
            data.id = row.id;
            mdAjax($(this),url,data,function(res){
                mdFormModal(res);
            },'get','html');
        },
    };
</script>
<!--这里引入本页面需要的JS 以及脚本-->
</head>

<!-- Main content -->
<!--主体内容-->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="col-sm-3" style="padding-left: 0;">
                        <div class="input-group">
                            <button type="button" class="btn btn-success btn-sm insert"><i class="fa fa-fw fa-plus-square-o">&nbsp;&nbsp;</i>新增</button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-fw fa-trash-o">&nbsp;&nbsp;</i>批量删除</button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body ">
                    <div id="toolbar">
                        <div class="row">
                            <div class="col-sm-12">
                                <form id="sysRolesSearch">
                                    <div class="col-lg-6" style="padding-left: 0;">
                                        <div class="input-group col-lg-3">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control" name="name" placeholder="请输入角色名称" data-mask>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <button type="button" class="btn btn-info btn-sm bootstrap-search" refreshTableID="sysRoleTable"><i class="fa fa-fw fa-search">&nbsp;</i>搜索</button>&nbsp;
                                        <button type="button" class="btn bgm-teal btn-sm bootstrap-reset" refreshTableID="sysRoleTable"><i class="fa fa-fw fa-refresh">&nbsp;</i>重置</button>&nbsp;
                                        <button type="button" class="btn bgm-amber btn-sm"><i class="fa fa-fw fa-cloud-download">&nbsp;</i>导出</button>&nbsp;
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <table id="sysRoleTable" class="table table-vmiddle table-condensed table-boedered" data-side-pagination="server"
                           data-url="{:url('/admin/Core/getRoles')}" data-toggle="table" data-toolbar="#toolbar"
                           data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]">
                        <thead>
                        <tr>
                            <th data-checkbox="true"></th>
                            <th data-field="name" data-formatter="">组名称</th>
                            <th data-field="franchName">所属店铺</th>
                            <th data-field="sort" data-sortable="true">排序</th>
                            <th data-field="created_at" data-align="center" data-sortable="true">创建时间</th>
                            <th data-field="userName" >创建人</th>
                            <th data-field="action" data-formatter="actionFormatter" data-align="center" data-events="actionEvents"></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
</html>
