{include file="admin@public/store"}
<!--这里引入本页面需要的JS 以及脚本-->
<!-- validate-->
<script src="__PUBLIC__/plugins/JQuery.validate/jquery.validate.js"></script>
<script src="__PUBLIC__/plugins/JQuery.validate/additional-methods.js"></script>
<script src="__PUBLIC__/plugins/JQuery.validate/zh_cn.js"></script>
<!--iconlist-->
<script src="__PUBLIC__/dict/fontawesome.icon.js"></script>
<style>
    .mdIconList{border:1px solid #eee;cursor: pointer;padding: 5px;}
    .fontawesomeList{display: none;position: absolute;left:250px;width:200px;z-index: 200;background: aliceblue;height:200px;overflow: auto;}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        // 点击选择图标事件
        $(".showIconList").click(function(){
            $(".fontawesomeList").toggle();
        });
        /*初始化所有图标*/
        for(var i=0;i<iconList.length;i++){
            $(".fontawesomeList").append('<div onclick="getCurIcon($(this))"  class="col-sm-2 mdIconList" value="fa '+iconList[i]+'"><i class="fa'+iconList[i]+'"></i></div>');
        }
        // 生成select checkbox 信息
        var url = "{:url('admin/Index/initSelect')}";
        initDataList(url,'menulist','Menus',['is_menu',1],'id,pid,name,level','a.sort desc','id','pid');
        var id = session("mdMenuId");
        if(id){
            var url = "{:url('admin/Core/getMenu')}";
            var data = {};
            data.id = id;
            mdAjax(false,url,data,function(res){
                assign(res.data,'mdMenusForm');
                $(".showIconList").find("i").attr("class",res.data.flag);
                layer.closeAll("loading");
            });
        }
    });

</script>
<!--这里引入本页面需要的JS 以及脚本-->
</head>
<body>
<!-- Main content -->
<!--主体内容-->
<div class="modal fade" id="mdFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{:url('admin/Core/saveMenu')}" id="mdMenusForm">
            <input type="hidden" name="id" value="">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">新增菜单</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>菜单名称:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" name="name" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>所属菜单:</label>
                        <select class="form-control menulist" type="select" name="pid" required>
                            <option value="">请选择</option>
                            <option value="0">顶级菜单</option>
                            <!--{:widget('common/Widgets/initSelect',['table'=>'Menus','condition'=>['is_menu'=>1],'field'=>'id,pid,name,level','order'=>'a.sort desc','pField'=>'id','cField'=>'pid'])}-->
                        </select>
                    </div>
                    <div class="form-group">
                        <label>菜单地址:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" name="url" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group" style="position: relative;">
                        <label>菜单图标:</label>
                        <div class="input-group">
                            <div class="input-group-addon showIconList">
                                <i class=""></i>
                            </div>
                            <input type="text" id="flaginput" name="flag" class="form-control">
                            <div class="col-lg-3 fontawesomeList">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>菜单排序:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-send"></i>
                            </div>
                            <input type="number" name="sort" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>是否开启:</label>
                        <div class="input-group">
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="isopensuccess" value="1" name="status" >
                                <label for="isopensuccess">是</label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="isopenerror" value="0" name="status">
                                <label for="isopenerror">否</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>是否菜单:</label>
                        <div class="input-group">
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="ismenusuccess" value="1" name="status" >
                                <label for="isopensuccess">是</label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="ismenuerror" value="0" name="status">
                                <label for="ismenuerror">否</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><i
                            class="fa fa-remove"></i>&nbsp;&nbsp;&nbsp;关闭
                    </button>
                    <button type="button" class="btn btn-success btn-sm form-submit" data-table="sysMenuTable"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;保存
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal -->\
</div>
</body>
<!-- /.content -->
</html>
