{include file="admin@public/header"}
<!--这里引入本页面需要的JS 以及脚本-->
<script>
    $(document).ready(function(){
        initMenu();
    });
</script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- top nav-->
    {include file="admin@public/topnav"}
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        {include file="admin@public/slidebar"}
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="content-iframe" style="overflow: hidden;">
            {include file="admin@public/breadcrumb"}
            <div class="mainContent" id="content-main" >
                <iframe class="LRADMS_iframe col-lg-12" style="margin-top: -2%;" width="100%"  src="{:url('/admin/Index/welcome')}" frameborder="0" data-id="default.html" ></iframe>
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
    {include file="admin@public/footer"}
    <!-- Control Sidebar -->
    {include file="admin@public/setting"}
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
</body>
</html>
