
<!--页面底部-->
<footer id="footer">
    Copyright &copy; 2015 Material Admin

    <ul class="f-menu">
        <li><a href="">Home</a></li>
        <li><a href="">Dashboard</a></li>
        <li><a href="">Reports</a></li>
        <li><a href="">Support</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</footer>
<!--加载中页面-->
<div class="page-loader">
    <div class="preloader pls-blue">
        <svg class="pl-circular" viewBox="25 25 50 50">
            <circle class="plc-path" cx="50" cy="50" r="20" />
        </svg>

        <p>Please wait...</p>
    </div>
</div>
<script src="__PUBLIC__/vendors/bower_components/jquery/dist/jquery.min.js"></script>
<script src="__PUBLIC__/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/functions.js"></script>
<script src="__PUBLIC__/js/demo.js"></script>
<script src="__PUBLIC__/js/global.js"></script>