<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MengD平台</title>
    <meta name="description" content="mobile first, app, web app, responsive, admin dashboard, flat, flat ui">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/css/plugin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/landing.css">
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/ie/respond.min.js"></script>
    <script src="__PUBLIC__/js/ie/html5.js"></script>
    <![endif]-->
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="__PUBLIC__/js/bootstrap.js"></script>
    <!-- app -->
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/app.plugin.js"></script>
    <script src="__PUBLIC__/js/app.data.js"></script>
</head>