<!--左侧菜单-->
<aside id="sidebar" class="sidebar c-overflow">
    <div class="profile-menu">
        <a href="">
            <div class="profile-pic">
                <img src="__PUBLIC__{$Think.session.user.avatar|default='/img/profile-pics/1.jpg'}" alt="">
                <!--<img src="__PUBLIC__/img/profile-pics/1.jpg" alt="">-->
            </div>

            <div class="profile-info">
                {$Think.session.user.nick_name|default='未设置昵称'}
                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>
        <!--头像下拉菜单-->
        <ul class="main-menu">
            <li>
                <a href="profile-about.html"><i class="zmdi zmdi-account"></i>个人资料</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        {foreach $menuList as $k=>$v}
        <li class=" {if isset($v.subMenus)} sub-menu {/if} {if $k eq 0} active {/if} ">
            {if isset($v.subMenus)}
            <a href="#"><i class="zmdi {$v.flag}"></i> {$v.name}</a>
            <ul>
                {foreach $v.subMenus as $k2=>$v2}
                {if isset($v2.subMenus)}
                <li class="sub-menu">
                    <a href="#">{$v2.name}</a>
                    <ul >
                        {foreach $v2.subMenus as $k3=>$v3}
                        <li ><a href="{$v3.url}">{$v3.name}</a></li>
                        {/foreach}
                    </ul>
                </li>
                {else}
                <li>
                    <a href="{$v2.url}">{$v2.name}</a>
                </li>
                {/if}
                {/foreach}
            </ul>
            {else}
            <a href="{$v.url}"><i class="zmdi {$v.flag}"></i> {$v.name}</a>
            {/if}
        </li>
        {/foreach}
    </ul>
</aside>
<!--右上角对话列表-->
<aside id="chat" class="sidebar c-overflow">
    <div class="chat-search">
        <div class="fg-line">
            <input type="text" class="form-control" placeholder="Search People">
        </div>
    </div>
    <div class="listview">
        <a class="lv-item" href="">
            <div class="media">
                <div class="pull-left p-relative">
                    <img class="lv-img-sm" src="__PUBLIC__/img/profile-pics/2.jpg" alt="">
                    <i class="chat-status-busy"></i>
                </div>
                <div class="media-body">
                    <div class="lv-title">Jonathan Morris</div>
                    <small class="lv-small">Available</small>
                </div>
            </div>
        </a>
    </div>
</aside>