{include file="admin@public/header"}
{include file="admin@public/search"}
<!--这里引入本页面需要的JS 以及脚本-->
<link rel="stylesheet" href="__PUBLIC__/bootstrap/table/bootstrap-table.css">
<script src="__PUBLIC__/bootstrap/table/bootstrap-table.js"></script>
<script src="__PUBLIC__/bootstrap/table/locale/bootstrap-table-zh-CN.js"></script>
<!-- InputMask -->
<script src="__PUBLIC__/plugins/input-mask/jquery.inputmask.js"></script>
<script src="__PUBLIC__/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="__PUBLIC__/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

    });

    function posterPathFormatter(value)
    {
        if(value){
            return '<img class="img-responsive" style="width:120px;height:40px;" src="__PUBLIC__'+value+'">';
        }
    }
</script>
<!--这里引入本页面需要的JS 以及脚本-->
</head>

<!-- Main content -->
<!--主体内容-->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="col-sm-3" style="padding-left: 0;">
                        <div class="input-group">
                            <button type="button" class="btn btn-success btn-sm insert"><i
                                    class="fa fa-fw fa-plus-square-o">&nbsp;&nbsp;</i>新增
                            </button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-warning btn-sm deleteMore"
                                    data-table="sys{$ctrName}Table"><i class="fa fa-fw fa-trash-o">&nbsp;&nbsp;</i>批量删除
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body ">
                    <div id="toolbar">
                        <div class="row">
                            <div class="col-sm-12">
                                <form id="sys{$ctrName}sSearch">
                                    <div class="col-lg-6" style="padding-left: 0;">
                                        <div class="input-group col-lg-3">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control" name="name" placeholder="请输入广告位名称"
                                                   data-mask>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <button type="button" class="btn btn-info btn-sm bootstrap-search"
                                                refreshTableID="sys{$ctrName}Table"><i
                                                class="fa fa-fw fa-search">&nbsp;</i>搜索
                                        </button>&nbsp;
                                        <button type="button" class="btn bgm-teal btn-sm bootstrap-reset"
                                                refreshTableID="sys{$ctrName}Table"><i
                                                class="fa fa-fw fa-refresh">&nbsp;</i>重置
                                        </button>&nbsp;
                                        <button type="button" class="btn bgm-amber btn-sm"><i
                                                class="fa fa-fw fa-cloud-download">&nbsp;</i>导出
                                        </button>&nbsp;
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <table id="sys{$ctrName}Table" class="table table-vmiddle table-condensed table-boedered"
                           data-side-pagination="server"
                           data-url="{$tableDataUrl}" data-toggle="table" data-toolbar="#toolbar"
                           data-pagination="true" data-page-list="[10, 20, 50, 100, 200]">
                        <thead>
                        <tr>
                            <th data-checkbox="true"></th>
                            <th data-field="posterPath" data-formatter="posterPathFormatter">图片</th>
                            <th data-field="name" data-formatter="">广告位名称</th>
                            <th data-field="position" data-sortable="true">位置</th>
                            <th data-field="type" data-sortable="true">类型</th>
                            <th data-field="url" data-formatter="">链接</th>
                            <th data-field="isBlank" >新标签打开</th>
                            <th data-field="sort" data-sortable="true">排序</th>
                            <th data-field="created_at" data-align="center" data-sortable="true">创建时间</th>
                            <th data-formatter="actionFormatter" data-align="center" data-events="actionEvents"></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
</html>
