{include file="weiubo@public/header"}
<style>
    .mui-bar-nav~.mui-content{
        padding-top: 1.5rem !important;
    }
    .refreshtip {position: absolute;left: 0;width: 100%;margin: 10px 0;text-align: center;color: #999;}
    .loadtip { display: block;width: 100%;line-height: 40px; height: 40px;text-align: center;color: #999;border-top: 1px solid #ddd;}
</style>
<body style="background-color: #fff;">

<header class="mui-bar mui-bar-nav">
    <h1 class="mui-title">历史记录</h1>
</header>

<div class="mui-content mui-tablecont swiper-container">
    <div class="refreshtip" >下拉可以刷新</div>
    <table width="100%" class="table swiper-wrapper w" id="tablevalue">
        <tr>
            <th>类型</th>
            <th>手数</th>
            <th class="algin-c">品种</th>
            <th>开仓价格</th>
            <th>平仓价格</th>
            <th class="algin-r">利润</th>
        </tr>
        {foreach $log as $K=>$v}
        <tr class="swiper-slide">
            <td>{$v.type}</td>
            <td>{$v.volume}</td>
            <td class="algin-c">{$v.symbol}</td>
            <td>{$v.priceopen}</td>
            <td>{$v.priceclose}</td>
            <td class="algin-r">{$v.profit}</td>
        </tr>
        {/foreach}
    </table>

    <div class="loadtip">上拉加载更多</div>
    <div class="swiper-scrollbar"></div>
    <input type="hidden" id="offset" value="{$offset}">
</div>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/swiper/swiper-3.3.1.min.css"/>
<script src="__PUBLIC__/plugins/swiper/swiper.jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var loadFlag = true;
    var oi = 0;
    var mySwiper = new Swiper('.swiper-container',{
        direction: 'vertical',
        scrollbar: '.swiper-scrollbar',
        slidesPerView: 'auto',
        mousewheelControl: true,
        freeMode: true,
        onTouchMove: function(swiper){		//手动滑动中触发
            var _viewHeight = document.getElementsByClassName('swiper-wrapper')[0].offsetHeight;
            var _contentHeight = document.getElementsByClassName('swiper-slide')[0].offsetHeight;


            if(mySwiper.translate < 50 && mySwiper.translate > 0) {
                $(".init-loading").html('下拉刷新...').show();
            }else if(mySwiper.translate > 50 ){
                $(".init-loading").html('释放刷新...').show();
            }
        },
        onTouchEnd: function(swiper) {
            var _viewHeight = document.getElementsByClassName('swiper-wrapper')[0].offsetHeight;
            var _contentHeight = document.getElementsByClassName('swiper-slide')[0].offsetHeight;
            // 上拉加载
            if(mySwiper.translate <= _viewHeight - _contentHeight - 50 && mySwiper.translate < 0) {
                // console.log("已经到达底部！");

                if(loadFlag){
                    $(".loadtip").html('正在加载...');
                }else{
                    $(".loadtip").html('没有更多啦！');
                }

                setTimeout(function() {
                    // 这里请求服务器来分页
                    var url = "{:url('/weiubo/Strong/getLog')}";
                    var data = {};
                    data.account = "{$account}";
                    data.offset = parseInt($("#offset").val())+parseInt("{$limit}");
                    $("#offset").val(data.offset)
                    data.limit = "{$limit}";
                    $.get(url,data,function (res) {
                        if(res){
                            for(var i=0;i<res.length;i++){
                                var html = '<tr>';
                                html = html + '<td>'+res[i].type+'</td>';
                                html = html + '<td>'+res[i].volume+'</td>';
                                html = html + '<td class="algin-c">'+res[i].symbol+'</td>';
                                html = html + '<td>'+res[i].priceopen+'</td>';
                                html = html + '<td>'+res[i].priceclose+'</td>';
                                html = html + '<td class="algin-c">'+res[i].profit+'</td>';
                                html = html + '</tr>';
                                $("#tablevalue").append(html);
                            }

                            $(".loadtip").html('上拉加载更多...');
                            mySwiper.update(); // 重新计算高度;
                        }else{
                            $(".loadtip").html('没有更多啦！');
                        }

                    },'JSON');
                }, 800);
            }

            // 下拉刷新
            if(mySwiper.translate >= 50) {
                $(".init-loading").html('正在刷新...').show();
                $(".loadtip").html('上拉加载更多');
                loadFlag = true;

                setTimeout(function() {
                    $(".refreshtip").show(0);
                    $(".init-loading").html('刷新成功！');
                    setTimeout(function(){
                        $(".init-loading").html('').hide();
                    },800);
                    $(".loadtip").show(0);

                    //刷新操作
                    mySwiper.update(); // 重新计算高度;
                }, 1000);
            }else if(mySwiper.translate >= 0 && mySwiper.translate < 50){
                $(".init-loading").html('').hide();
            }
            return false;
        }
    });

</script>
</body>
</html>