{include file="weiubo@public/header"}
<body style="background-color: #fff;">

<header class="mui-bar mui-bar-nav">
    <h1 class="mui-title">提交结果</h1>
</header>



<!--sign star-->
<div class="result-page" >
    <div class="result-img">
        <img src="__PUBLIC__/weiubo/images/Page2.png" />
    </div>
    <div class="result-font">
        <p>提交成功！</p>
        <p>我们将会尽快审核请保持手机畅通。</p>
    </div>
    <div class="result-link">
        <a href="{:url('/weiubo')}">返回首页</a>
    </div>
</div>
<!--sign end-->
</body>
</html>