{include file="weiubo@public/header"}
<body style="background-color: #F5F5F5;">

<div class="nheader nheadertwo clearfloat box-s" id="header">
    <div class="header-box">
        <p class="">个人中心</p>
    </div>
</div>

<!--container star-->
<div class="header-menu clearfloat" id="main">
    <div class="content clearfloat">
        <div class="all-listcont">

            {if count($data) == 0}
            <!--sign star-->
            <div class="result-page" >
                <div class="result-font">
                    <p>尚未绑定！</p>
                </div>
                <div class="result-link">
                    <a href="{:url('/weiubo')}">去首页</a>
                </div>
            </div>
            <!--sign end-->
            {/if}
            {foreach $data as $k=>$v}
            {if $v.belongto eq 0}
            <!--牛人账号信息-->
            <div class="listcont perlist-cont">
                <em class="tag-icon"></em>
                <div class="perlist">
                    <div class="perlist-data">
                        <div class="mod">
                            <span class="title">账号：</span><span class="cont">{$v.account}</span>
                        </div>
                        <div class="mod">
                            <span class="title">余额：</span><span class="cont">{$v.balance}</span>
                        </div>
                    </div>
                    <em class="select-con"></em>
                </div>
                <div class="list-data">
                    {foreach $v.list as $k2=>$v2}
                    <ul class="clear">
                        <li>
                            <p class="title">品种</p>
                            <p class="main">{$v2.symbol}</p>
                        </li>
                        <li>
                            <p class="title">手数</p>
                            <p class="main">{$v2.volume/10000}</p>
                        </li>
                        <li>
                            <p class="title">类型</p>
                            <p class="main">{$v2.type}</p>
                        </li>

                        <li>
                            <p class="title">开仓价格</p>
                            <p class="main">{$v2.priceopen}</p>
                        </li>
                    </ul>
                    {/foreach}
                </div>
            </div>
            {else}
            <!--跟随用户信息-->
            <div class="listcont perlist-cont">
                <div class="perlist">
                    <div class="perlist-data">
                        <div class="mod">
                            <span class="title">账号：</span><span class="cont">{$v.account}</span>
                        </div>
                        <div class="mod">
                            <span class="title">余额：</span><span class="cont">{$v.balance}</span>
                        </div>
                    </div>
                    <div class="perlist-data">
                        <div class="mod">
                            <span class="title">跟随账户：</span><span class="cont">{$v.follow}</span>
                        </div>
                        <div class="mod">
                            <span class="title">跟单比例：</span><span class="cont">{$v.multiple*100/100*100}%</span>
                        </div>
                    </div>
                    <em class="select-con"></em>
                </div>
                <div class="list-data">
                    {foreach $v.list as $k2=>$v2}
                    <ul class="clear">
                        <li>
                            <p class="title">品种</p>
                            <p class="main">{$v2.symbol}</p>
                        </li>
                        <li>
                            <p class="title">手数</p>
                            <p class="main">{$v2.volume/10000}</p>
                        </li>
                        <li>
                            <p class="title">类型</p>
                            <p class="main">{$v2.type}</p>
                        </li>

                        <li>
                            <p class="title">开仓价格</p>
                            <p class="main">{$v2.priceopen}</p>
                        </li>
                    </ul>
                    {/foreach}
                </div>
            </div>
            {/if}
            {/foreach}
        </div>

    </div>
</div>
<!--container end-->


</body>
<script type="text/javascript">
    $(function(){
        $('.perlist').click(function(){
            $(this).parents('.perlist-cont').toggleClass('on');
            $(this).siblings('.list-data').slideToggle('on');
        });
    })
</script>
</html>