<div class="more">
    <a href="{:url('/pcshop/Category/all')}" target="_blank"></a>
</div>

<!--底部链接-->
<div class="foot_link">
    <div class="wrap clearfloat">
        {foreach $cataLog as $k=>$v}
        <div class="foot_one">
            <h3 style="font-size:14px;font-weight: bold;text-align: left;margin-left: 60px;margin-bottom: 20px">{$v.title}</h3>
            {if isset($v.subLog)}
            {foreach $v.subLog as $k2=>$v2}
            <ul id="bottom1_newUser">
                <li><a title="{$v2.title}" rel="nofollow"  target="_blank" href="{:url('/pcshop/Help/index',['id'=>$v2.id])}">{$v2.title}</a></li>
            </ul>
            {/foreach}
            {/if}
        </div>
        {/foreach}
        <!--<div class="foot_two">
            <h3><strong><font size="2">0871-</font>65885399</strong></h3>
            <div class="dingyue">
                <p style="color: Red;">请为我们提供您宝贵的意见及建议</p>
                <p>
                    <input type="button" class="book_btn" value="在线投诉及建议" onclick="javascript:window.location.href =help.htmltousu.aspx" />
                </p>
                <p style="color: blue; margin-top: -7px; font-weight: bold">工作时间：{$seo.siteServicetime|default='09:00-18:00'}</p>
            </div>
        </div>-->
    </div>
</div>

<!--商城基本信息-->
<div class="stores clearfloat" style="display: none">
    <div class="stores-box">
        <div class="stores-arrow">
            <a href="javascript:;" class="stores-prev">&lt;</a>
            <a href="javascript:;" class="stores-next">&gt;</a>
        </div>
        <ul>
            <li>
                <p title="{$baseInfo.address|default='山东省青岛市'}">{$baseInfo.address|default='山东省青岛市'}</p>
                <p>销售热线：{$baseInfo.telephone|default='0008-55555555'}</p>
                <p>工作时间：{$baseInfo.worktime|default='9:00-6:00'}</p>
                <!--<span>
                    <a title="滨江俊园店地址：昆明市盘龙区白云路滨江俊园3-03号商铺" target="_blank" href="__PUBLIC__/pcshop/http://www.ch999.com/kunming/1.html">店铺详情</a>
                    <a target="_blank" rel="nofollow" href="__PUBLIC__/pcshop//shopmap.aspx?map=km">位置地图</a>
                    <a onclick="sendSMS(this)" id="1" href="__PUBLIC__/pcshop/javascript:;" rel="nofollow">发送至手机</a>
                </span>-->
            </li>
        </ul>
    </div>
</div>
{include file="pcshop@public/fotagree"}

<div id="suggview" class="suggview" style="display: none;">
    <div id="suggdata"></div>
    <div id="subbenddiv">
        <span id="sugginfo"></span>
        <span id="suggclose"></span>
    </div>
</div>