<!--商城底部协议-->
<div class="foot">
    <div class="wrap">
        <h3><a href="__PUBLIC__/pcshop/help.html1106.html">关于我们</a>|<a href="__PUBLIC__/pcshop/help.html1123.html">诚聘英才</a>|<a href="__PUBLIC__/pcshop//tousu">意见建议</a>|<a href="__PUBLIC__/pcshop/help.html1124.html">隐私及安全</a>|<a href="__PUBLIC__/pcshop/help.html1117.html">联系我们</a>|<a href="__PUBLIC__/pcshop/help.html1121.html">商务合作</a></h3>
        <p>{$baseInfo.copyRight|default='0008-55555555'}</p>
        <p>订购热线：{$baseInfo.telephone|default='0008-55555555'}　邮箱：{$baseInfo.email|default='761243073@qq.com'} ICP备：滇06002001号-6</p>
        <p>地址：{$baseInfo.address|default='山东省青岛市'}<a style="color: #f9484e; padding: 0 5px;" href="__PUBLIC__/pcshop/http://j.map.baidu.com/t2wPK" target="_blank">[地图]</a> QQ在线咨询：<a onclick="window.open(http://b.qq.com/webc.htm?new=0&amp;sid=800058139&amp;eid=2188z8p8p8p8R8z8q8P80&amp;o=www.mama999.com&amp;q=7&amp;ref=+document.location,_blank,height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no);" href="__PUBLIC__/pcshop/javascript:"><img style="margin-right: 8px" src="__PUBLIC__/pcshop/images/qq.gif" />800058139</a></p>
    </div>
</div>