<!--商城底部协议-->
<div class="foot">
    <div class="wrap">
        <p>{$seo.siteCopryright|default='MengD'}</p>
        <p>{$seo.siteRecord|default=''}</p>
        <!--
        <p>地址：{$baseInfo.address|default='山东省青岛市'}
        <a style="color: #f9484e; padding: 0 5px;" href="__PUBLIC__/pcshop/http://j.map.baidu.com/t2wPK" target="_blank">[地图]</a>
        QQ在线咨询：
        <a onclick="window.open(http://b.qq.com/webc.htm?new=0&amp;sid=800058139&amp;eid=2188z8p8p8p8R8z8q8P80&amp;o=www.mama999.com&amp;q=7&amp;
        ref=+document.location,_blank,height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no);" h
        ref="__PUBLIC__/pcshop/javascript:"><img style="margin-right: 8px" src="__PUBLIC__/pcshop/images/qq.gif" />800058139</a></p>-->
    </div>
</div>