<div class="user-nav ui-border-t">
    <dl>
        <dt>
            <i class="iconfont"></i>交易信息
        </dt>
        <dd>
            <a href="{:url('/pcshop/User/carts')}" ><b>&gt;</b>我的购物车</a>
        </dd>
        <dd>
            <a href="{:url('/pcshop/User/orderList')}"><b>&gt;</b>我的订单</a>
        </dd>
    </dl>
    <dl>
        <dt>
            <i class="iconfont" style="font-size: 16px;"></i>账户设置
        </dt>
        <dd>
            <a href="{:url('/pcshop/User/intro')}"><b>&gt;</b>个人信息管理</a>
        </dd>
        <!--<dd>
            <a href="{:url('/pcshop/User/address')}"><b>&gt;</b>收货地址</a>
        </dd>-->
    </dl>
</div>