{include file="admin@public/store"}
<!--单选复选框-->
<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/build.css">
<!-- 编辑器 -->
<link rel="stylesheet" href="__PUBLIC__/plugins/summernote/summernote.css">
<script src="__PUBLIC__/plugins/summernote/summernote.min.js"></script>
<script src="__PUBLIC__/plugins/summernote/lang/summernote-zh-CN.min.js"></script>
<!-- 编辑器 -->
<!--这里引入本页面需要的JS 以及脚本-->
<!-- validate-->
<script src="__PUBLIC__/plugins/JQuery.validate/jquery.validate.js"></script>
<script src="__PUBLIC__/plugins/JQuery.validate/additional-methods.js"></script>
<script src="__PUBLIC__/plugins/JQuery.validate/zh_cn.js"></script>
<!--iconlist-->
<script src="__PUBLIC__/dict/fontawesome.icon.js"></script>
<style>
    .mdIconList{border:1px solid #eee;cursor: pointer;padding: 5px;}
    .fontawesomeList{display: none;position: absolute;left:250px;width:200px;z-index: 200;background: aliceblue;height:200px;overflow: auto;}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        var backurl = "{:url('admin/Index/uploadImage')}";
        $('#summernote').summernote({
            height: 400,
            tabsize: 3,
            lang: 'zh-CN',
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true,
            // 重写图片上传
            callbacks:{
                onImageUpload:function(files, editor, $editable) {
                    sendFile(backurl,files[0],editor,$editable);
                }
            }
        });
        // 生成select checkbox 信息
        var url = "{:url('admin/Index/initSelect')}";
        initDataList(url, 'menulist', 'Category', ['status', 1], 'id,pid,name,level', 'a.level asc,a.sort desc', 'id', 'pid');
        initDataList(url, 'brandlist', 'Brand', '', 'id,name', 'a.sort desc');
        var id = session("mdProductId");
        if (id) {
            var url = "{:url('shop/Product/getRowData')}";
            var data = {};
            data.id = id;
            mdAjax(false, url, data, function (res) {
                res.data.test = '1,2';
                assign(res.data, 'mdProductForm');
                layer.closeAll("loading");
            });
        }
    });

</script>
<!--这里引入本页面需要的JS 以及脚本-->
</head>
<body style="overflow: auto;">
<!-- Main content -->
<!--主体内容-->
<div class="modal fade" id="mdFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow: auto;">
    <div class="modal-dialog">
        <form action="{:url('shop/Product/saveToTable')}" id="mdProductForm">
            <input type="hidden" name="id" value="">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">新增商品</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>商品名称:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" name="name" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>商品图片:</label>
                        <div class="input-group">
                            <input type="file" class="add-btn" onchange="reayUpload($(this))" accept="image/*" multiple="multiple" capture="camera"  data-id="album" data-url="{:url('/admin/Index/uploadImage')}" data-preview="albumPreview">
                            <input type="hidden" id="album" name="album" required value="" class="validata_hidden" placeholder="上传广告位图片">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>商品类型:</label>
                        <div class="input-group">
                            <select class="form-control" type="select" name="type" required>
                                <option value="1">新品</option>
                                <option value="2">热销</option>
                                <option value="3">赠品</option>
                                <option value="4">促销</option>
                                <option value="5">团购</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>所属分类:</label>
                        <select class="form-control menulist" type="select" name="categoryId" required>
                            <option value="">请选择</option>
                            <option value="0">顶级分类</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>商品品牌:</label>
                        <select class="form-control brandlist" type="select" name="brandId" required>
                            <option value="">请选择</option>
                            <option value="0">顶级分类</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>店内价格:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-send"></i>
                            </div>
                            <input type="text" name="shopPrice" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>市场价格:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-send"></i>
                            </div>
                            <input type="text" name="marketPrice" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>库存:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-send"></i>
                            </div>
                            <input type="text" name="stock" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>关键字:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" name="keyword" class="form-control" placeholder="多个关键字请用|隔开">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>商品排序:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-send"></i>
                            </div>
                            <input type="number" name="sort" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>商品描述:</label>
                        <div class="input-group">
                            <textarea name="desc" type="textarea" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>商品详情:</label>
                        <div class="input-group">
                            <textarea name="detail" id="summernote"  type="summernote" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>商品状态:</label>
                        <div class="input-group">
                            <!--<select class="form-control" type="select" name="status" required>-->
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="statussuccess" value="1" name="status" >
                                <label for="statussuccess">正常</label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="statuserror" value="2" name="status">
                                <label for="statuserror">下架</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>测试复选框:</label>
                        <div class="input-group">
                            <div class="checkbox checkbox-info">
                                <input id="checkbox4" name="test" value="1" class="styled" type="checkbox">
                                <label for="checkbox4">
                                    呵呵
                                </label>
                            </div>
                            <div class="checkbox checkbox-info">
                                <input id="checkbox5"  name="test" value="2" class="styled" type="checkbox">
                                <label for="checkbox4">
                                    嘻嘻
                                </label>
                            </div>
                            <div class="checkbox checkbox-info">
                                <input id="checkbox6"  name="test" value="3" class="styled" type="checkbox">
                                <label for="checkbox6">
                                    嗷嗷
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <div class="modal-footer" style="background-color: lightgrey;">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><i
                            class="fa fa-remove"></i>&nbsp;&nbsp;&nbsp;关闭
                    </button>
                    <button type="button" class="btn btn-success btn-sm form-submit" data-table="sysProductTable"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;保存
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal -->
</div>
</body>
<!-- /.content -->
</html>
