<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="__PUBLIC__/backiubo/css/base.css"/>
    <link rel="stylesheet" href="__PUBLIC__/backiubo/css/info-mgt.css"/>
    <link rel="stylesheet" href="__PUBLIC__/backiubo/css/WdatePicker.css"/>
    <link rel="stylesheet" href="__PUBLIC__/font/font-awesome.min.css">
    <title></title>
    <style>
        table-box td,.table-box th{
            padding-left: 15px;
        }
        .table-box th{
            background: #e8f1f7;

        }
        .table-box td{
            border: none;
        }
        .table-box tbody tr:hover{
            background: #e8eef2;
        }
    </style>
</head>

<body>
<div class="title"><h2>{$theme}</h2></div>
<!--查询表单-->
<div class="query">
    <form id="OrderrecordSearchTable" data-table="OrderrecordTable">
        <div class="query-conditions ue-clear">
            <div  class="conditions name ue-clear">
                <label>源账户：</label>
                <div class="select-wrap">
                    <select name="accountfrom" class="select-title ue-clear" >
                        <option value="">全部</option>
                        {foreach $accList as $k=>$v}
                        <option value="{$v.accountfrom}">{$v.accountfrom}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div  class="conditions name ue-clear">
                <label>源订单：</label>
                <div class="select-wrap">
                    <select name="ticketfrom" class="select-title ue-clear" >
                        <option value="">全部</option>
                        {foreach $orderList as $k=>$v}
                        <option value="{$v.ticketfrom}">{$v.ticketfrom}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div  class="conditions name ue-clear">
                <label>源品种：</label>
                <div class="select-wrap">
                    <select name="symbol" class="select-title ue-clear" >
                        <option value="">全部</option>
                        {foreach $symbolList as $k=>$v}
                        <option value="{$v.symbol}">{$v.symbol}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
        </div>
        <div class="query-btn ue-clear">
            <a href="javascript:;" class="confirm">查询</a>
            <a href="javascript:;" class="clear">清空条件</a>
        </div>
    </form>
</div>

<div class="table-box">
    <!--操作按钮-->
    <div class="table-operate ue-clear">
        <a href="javascript:;" class="add addData" data-url="{:url('/iubo/Orderrecord/store')}">添加</a>
        <a href="javascript:;" class="del delMore" data-url="{:url('/iubo/Orderrecord/fullyDel')}">删除</a><!--
    <a href="javascript:;" class="edit">编辑</a>
    <a href="javascript:;" class="count">统计</a>
    <a href="javascript:;" class="check">审核</a>-->
    </div>
    <table id="OrderrecordTable" data-search="OrderrecordSearchTable" data-url="{:url('/iubo/Orderrecord/getJqPage')}">
        <thead id="OrderrecordTableHead">
        <tr>
            <th data-field="checkbox" data-key="ticket"></th>
            <th data-field="ticket">订单号</th>
            <th data-field="account">账号</th>
            <th data-field="ticketfrom">源订单</th>
            <th data-field="accountfrom">源账户</th>
            <th data-field="volume">手数</th>
            <th data-field="symbol">品种</th>
            <th data-field="type">TYPE</th>
            <th data-action="commonAct">操作</th>
        </tr>
        </thead>
        <tbody id="OrderrecordTableBody">
        <tr>

        </tr>
        </tbody>
    </table>
    <div class="pagination ue-clear"></div>
</div>
<script type="text/javascript" src="__PUBLIC__/backiubo/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/backiubo/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/backiubo/js/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/backiubo/js/jquery.pagination.js"></script>
<!-- layer-->
<script src="__PUBLIC__/plugins/layer/layer.js"></script>
<script src="__PUBLIC__/core/global.js"></script>
<script src="__PUBLIC__/core/jq.page.js"></script>
<script type="text/javascript">
    $(".select-title").on("click", function () {
        $(".select-list").hide();
        $(this).siblings($(".select-list")).show();
        return false;
    })
    $(".select-list").on("click", "li", function () {
        var txt = $(this).text();
        $(this).parent($(".select-list")).siblings($(".select-title")).find("span").text(txt);
    })
    $("tbody").find("tr:odd").css("backgroundColor", "#eff6fa");
    showRemind('input[type=text], textarea', 'placeholder');

    function commonAct(index,data) {
        var id = data[index].ticket;
        return '<span class="edit" data-index="'+index+'" data-id="'+id+'" style="cursor: pointer" title="编辑{$theme}"><i class="fa fa-edit " ></i>编辑</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="delete"  data-index="'+index+'" data-id="'+id+'" style="cursor: pointer"  title="删除{$theme}"><i class="fa fa-trash-o "></i>删除</span>';
    }

    // 在动态生成的节点如果需要事件 需要用“事件委托” 但是下面写的太多没用的东西
    $(document).on("click", ".edit", function () {
        var ticked = $(this).attr("data-id");
        var url = "{:url('/iubo/Orderrecord/store/id/"+ticked+"')}";
        window.parent.$("#iframe").attr("src",url);
    })
    $(document).on("click", ".delete", function () {
        var id = $(this).attr("data-id");
        //询问框
        var delUrl = "{:url('/iubo/Orderrecord/fullyDel')}";
        delUrl = delUrl + '?field=ticked&ids='+id;
        layer.confirm('确定删除数据吗？', {
            btn: ['删除','取消'] //按钮
        }, function(){
            mdAjax($(this),delUrl,{},function (res) {
                InitTable(obj,0);
            },'get');
        });
    })
</script>
</body>

</html>
