{include file="admin@public/header"}
{include file="admin@public/search"}
<!--这里引入本页面需要的JS 以及脚本-->
<link rel="stylesheet" href="__PUBLIC__/bootstrap/table/bootstrap-table.css">
<script src="__PUBLIC__/bootstrap/table/bootstrap-table.js"></script>
<script src="__PUBLIC__/bootstrap/table/locale/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

    });
    //每行操作渲染
    function actionFormatter(value, row, index) {
        var action = '<div class="btn-group">';
        switch (row.status){
            case '待付款':
                action = action + '';
                break;
            case '付款成功':
                switch(row.progress){
                    case '待发货':
                        action = action + '<button class="btn bg-warning btn-sm send">发货</button>&nbsp;&nbsp;&nbsp;&nbsp;';
                        break;
                    case '已经发货':
                        action = action + '<button class="btn bg-info btn-sm route">查看物流</button>&nbsp;&nbsp;&nbsp;&nbsp;';
                        break;
                }
                break;
        }
        action = action + '<button class="btn bg-olive btn-sm detail">详情</button>&nbsp;&nbsp;&nbsp;&nbsp;</div>';
        return action;
    }
    //每行操作对应事件
    window.actionEvents = {
        'click .send': function (e, value, row, index) {
            var url = "{:url('/shop/Order/send/id/"+row.id+"')}";
            session("md{$ctrName}Id", row.id);
            mdAjax($(this), url, {}, function (res) {
                mdFormModal(res);
                layer.closeAll('loading');
            }, 'get', 'html');
        },
        'click .detail': function (e, value, row, index) {
            var url = "{:url('/shop/Order/detail')}";
            session("md{$ctrName}Id", row.id);
            mdAjax($(this), url, {}, function (res) {
                mdFormModal(res);
                layer.closeAll('loading');
            }, 'get', 'html');
        },
        'click .route': function (e, value, row, index) {
            var url = "{:url('/shop/Order/route/id/"+row.id+"')}";
            session("md{$ctrName}Id", row.id);
            mdAjax($(this), url, {}, function (res) {
                mdFormModal(res);
                layer.closeAll('loading');
            }, 'get', 'html');
        },
    };
</script>
<!--这里引入本页面需要的JS 以及脚本-->
</head>

<!-- Main content -->
<!--主体内容-->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="col-sm-3" style="padding-left: 0;">
                        <div class="input-group">
                            <!--<button type="button" class="btn btn-success btn-sm insert"><i class="fa fa-fw fa-plus-square-o">&nbsp;&nbsp;</i>新增</button>&nbsp;&nbsp;-->
                            <button type="button" class="btn btn-warning btn-sm deleteMore" data-table="sys{$ctrName}Table"><i class="fa fa-fw fa-trash-o">&nbsp;&nbsp;</i>批量删除</button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body ">
                    <div id="toolbar">
                        <div class="row">
                            <div class="col-sm-12">
                                <form id="sysOrdersSearch">
                                    <div class="col-lg-6" style="padding-left: 0;">
                                        <div class="input-group col-lg-3">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control" name="name" placeholder="请输入订单名称" data-mask>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <button type="button" class="btn btn-info btn-sm bootstrap-search" refreshTableID="sys{$ctrName}Table"><i class="fa fa-fw fa-search">&nbsp;</i>搜索</button>&nbsp;
                                        <button type="button" class="btn bgm-teal btn-sm bootstrap-reset" refreshTableID="sys{$ctrName}Table"><i class="fa fa-fw fa-refresh">&nbsp;</i>重置</button>&nbsp;
                                        <button type="button" class="btn bgm-amber btn-sm"><i class="fa fa-fw fa-cloud-download">&nbsp;</i>导出</button>&nbsp;
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <table id="sys{$ctrName}Table" class="table table-vmiddle table-condensed table-boedered" data-side-pagination="server"
                           data-url="{$tableDataUrl}" data-toggle="table" data-toolbar="#toolbar"
                           data-pagination="true" data-page-list="[10, 20, 50, 100, 200]">
                        <thead>
                        <tr>
                            <th data-checkbox="true"></th>
                            <th data-field="tradeNumber" >订单编号</th>
                            <th data-field="userId" >下单用户</th>
                            <th data-field="payType" >支付方式</th>
                            <th data-field="total"  data-sortable="true">订单总额</th>
                            <th data-field="desc">订单商品</th>
                            <th data-field="status">订单状态</th>
                            <th data-field="progress">发货状态</th>
                            <th data-field="created_at" data-align="center" data-sortable="true">创建时间</th>
                            <th data-field="action" data-formatter="actionFormatter" data-align="center" data-events="actionEvents"></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
</html>
