{include file="admin@public/header"}
{include file="admin@public/search"}
<!--这里引入本页面需要的JS 以及脚本-->
<link rel="stylesheet" href="__PUBLIC__/bootstrap/table/bootstrap-table.css">
<script src="__PUBLIC__/bootstrap/table/bootstrap-table.js"></script>
<script src="__PUBLIC__/bootstrap/table/locale/bootstrap-table-zh-CN.js"></script>
<!-- InputMask -->
<script src="__PUBLIC__/plugins/input-mask/jquery.inputmask.js"></script>
<script src="__PUBLIC__/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="__PUBLIC__/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".insert").click(function(){
            var url = "{:url('/shop/Order/storeOrder')}";
            sessionStorage.removeItem("mdOrderId");
            mdAjax($(this),url,{},function(res){
                mdFormModal(res);
                layer.closeAll("loading");
            },'get','html');
        });
        $(".deleteMore").click(function(){
            var table = $(this).attr('data-table');
            var checked = mdGetTableChecked(table);
            if(!checked){
                layer.msg('请选择要删除的数据',{icon:0});
                return
            }
            checked = checked.join(',');
            var url = "{:url('/shop/Order/deleteToTable/id/" + checked + "')}";
            mdConfirmModal('modal-sm','提示','确定批量删除此数据吗?',url,table);
        });
    });
    //每行操作渲染
    function actionFormatter() {
        return '<div class="btn-group"><button class="btn bg-olive btn-sm edit">编辑</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn  bg-orange btn-sm delete">删除</button></div>';
    }
    //每行操作对应事件
    window.actionEvents = {
        'click .delete': function (e, value, row, index) {
            var url = "{:url('/shop/Order/deleteToTable/id/" + row.id + "')}";
            var table = 'sysOrderTable';
            mdConfirmModal('modal-sm','提示','确定删除此订单吗?',url,table);
        },
        'click .edit': function (e, value, row, index) {
            var url = "{:url('/shop/Order/storeOrder/id/" + row.id + "')}";
            session("mdOrderId",row.id);
            mdAjax($(this),url,{},function(res){
                mdFormModal(res);
            },'get','html');
        },
    };
</script>
<!--这里引入本页面需要的JS 以及脚本-->
</head>

<!-- Main content -->
<!--主体内容-->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="col-sm-3" style="padding-left: 0;">
                        <div class="input-group">
                            <button type="button" class="btn btn-success btn-sm insert"><i class="fa fa-fw fa-plus-square-o">&nbsp;&nbsp;</i>新增</button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-warning btn-sm deleteMore" data-table="sysOrderTable"><i class="fa fa-fw fa-trash-o">&nbsp;&nbsp;</i>批量删除</button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body ">
                    <div id="toolbar">
                        <div class="row">
                            <div class="col-sm-12">
                                <form id="sysOrdersSearch">
                                    <div class="col-lg-6" style="padding-left: 0;">
                                        <div class="input-group col-lg-3">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control" name="name" placeholder="请输入订单名称" data-mask>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <button type="button" class="btn btn-info btn-sm bootstrap-search" refreshTableID="sysOrderTable"><i class="fa fa-fw fa-search">&nbsp;</i>搜索</button>&nbsp;
                                        <button type="button" class="btn bgm-teal btn-sm bootstrap-reset" refreshTableID="sysOrderTable"><i class="fa fa-fw fa-refresh">&nbsp;</i>重置</button>&nbsp;
                                        <button type="button" class="btn bgm-amber btn-sm"><i class="fa fa-fw fa-cloud-download">&nbsp;</i>导出</button>&nbsp;
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <table id="sysOrderTable" class="table table-vmiddle table-condensed table-boedered" data-side-pagination="server"
                           data-url="{:url('/shop/Order/getTableData')}" data-toggle="table" data-toolbar="#toolbar"
                           data-pagination="true" data-page-list="[10, 20, 50, 100, 200]">
                        <thead>
                        <tr>
                            <th data-checkbox="true"></th>
                            <th data-field="tradeNumber" >订单编号</th>
                            <th data-field="userId" >下单用户</th>
                            <th data-field="payType" >支付方式</th>
                            <th data-field="total"  data-sortable="true">订单总额</th>
                            <th data-field="desc">订单商品</th>
                            <th data-field="status">订单状态</th>
                            <th data-field="progress">发货状态</th>
                            <th data-field="created_at" data-align="center" data-sortable="true">创建时间</th>
                            <th data-field="action" data-formatter="actionFormatter" data-align="center" data-events="actionEvents"></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
</html>
