<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="__PUBLIC__/backiubo/css/base.css"/>
    <link rel="stylesheet" href="__PUBLIC__/backiubo/css/info-mgt.css"/>
    <link rel="stylesheet" href="__PUBLIC__/backiubo/css/WdatePicker.css"/>
    <link rel="stylesheet" href="__PUBLIC__/font/font-awesome.min.css">
    <title></title>
    <style>
        table-box td,.table-box th{
            padding-left: 15px;
        }
        .table-box th{
            background: #e8f1f7;

        }
        .table-box td{
            border: none;
        }
        .table-box tbody tr:hover{
            background: #e8eef2;
        }
    </style>
</head>

<body>
<div class="title"><h2>{$theme}</h2></div>
<!--查询表单-->
<div class="query">
    <form id="historySearchTable" data-table="historyTable">
        <div class="query-conditions ue-clear">
            <div  class="conditions name ue-clear">
                <label>所属账号：</label>
                <div class="select-wrap">
                    <select name="account" class="select-title ue-clear" >
                        <option value="">全部</option>
                        {foreach $accList as $k=>$v}
                        <option value="{$v.account}">{$v.account}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="conditions time ue-clear">
                <label>平仓时间：</label>
                <div class="time-select">
                    <input type="text" name="timeclose" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" placeholder="开始时间"/>
                    <i class="icon"></i>
                </div>
                <!--<span class="line">-</span>
                <div class="time-select">
                    <input type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" placeholder="开始时间"/>
                    <i class="icon"></i>
                </div>-->
            </div>
            <div class="conditions staff ue-clear">
                <label>单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</label>
                <input type="text" name="ticket" placeholder="请输入订单号"/>
                <!--<a href="javascript:;" class="staff-select">选择</a>-->
            </div>
        </div>
        <div class="query-btn ue-clear">
            <a href="javascript:;" class="confirm">查询</a>
            <a href="javascript:;" class="clear">清空条件</a>
        </div>
    </form>
</div>

<div class="table-box">
    <!--操作按钮-->
    <div class="table-operate ue-clear">
        <a href="javascript:;" class="add addData" data-url="{:url('/iubo/History/store')}">添加</a>
        <a href="javascript:;" class="del delMore" data-url="{:url('/iubo/History/fullyDel')}">删除</a><!--
    <a href="javascript:;" class="edit">编辑</a>
    <a href="javascript:;" class="count">统计</a>
    <a href="javascript:;" class="check">审核</a>-->
    </div>
    <table id="historyTable" data-search="historySearchTable" data-url="{:url('/iubo/History/getJqPage')}">
        <thead id="historyTableHead">
        <tr>
            <th data-field="checkbox" data-key="ticket"></th>
            <th data-field="account">账号</th>
            <th data-field="timeopen">开仓时间</th>
            <th data-field="ticket">订单号</th>
            <th data-field="type">类型</th>
            <th data-field="volume">手数</th>
            <th data-field="symbol">品种</th>
            <th data-field="priceopen">开仓价格</th>
            <th data-field="timeclose">平仓时间</th>
            <th data-action="commonAct">操作</th>
        </tr>
        </thead>
        <tbody id="historyTableBody">
        <tr>

        </tr>
        </tbody>
    </table>
    <div class="pagination ue-clear"></div>
</div>
<script type="text/javascript" src="__PUBLIC__/backiubo/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/backiubo/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/backiubo/js/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/backiubo/js/jquery.pagination.js"></script>
<!-- layer-->
<script src="__PUBLIC__/plugins/layer/layer.js"></script>
<script src="__PUBLIC__/core/global.js"></script>
<script src="__PUBLIC__/core/jq.page.js"></script>
<script type="text/javascript">

    $("tbody").find("tr:odd").css("backgroundColor", "#eff6fa");

    function commonAct(index,data) {
        var id = data[index].ticket;
        return '<span class="edit" data-index="'+index+'" data-id="'+id+'" style="cursor: pointer" title="编辑{$theme}"><i class="fa fa-edit " ></i>编辑</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="delete"  data-index="'+index+'" data-id="'+id+'" style="cursor: pointer"  title="删除{$theme}"><i class="fa fa-trash-o "></i>删除</span>';
    }
    var obj = $("#historyTable");
    // 在动态生成的节点如果需要事件 需要用“事件委托” 但是下面写的太多没用的东西
    $(document).on("click", ".edit", function () {
        var ticked = $(this).attr("data-id");
        var url = "{:url('/iubo/history/store/id/"+ticked+"')}";
        window.parent.$("#iframe").attr("src",url);
    })
    $(document).on("click", ".delete", function () {
        var id = $(this).attr("data-id");
        //询问框
        var delUrl = "{:url('/iubo/History/fullyDel')}";
        delUrl = delUrl + '?field=ticket&ids='+id;
        layer.confirm('确定删除数据吗？', {
            btn: ['删除','取消'] //按钮
        }, function(){
            mdAjax($(this),delUrl,{},function (res) {
                InitTable(obj,0);
            },'get');
        });
    })
</script>
</body>

</html>
