<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="__PUBLIC__/backiubo/css/base.css" />
    <link rel="stylesheet" href="__PUBLIC__/backiubo/css/info-reg.css" />
    <title>移动办公自动化系统</title>
</head>

<body>
<div class="title"><h2>{$theme}</h2></div>

<form action="{$fromUri}" id="historyForm">
<div class="main">
    <div class="short-input select ue-clear">
        <label>账号：</label>
        <div class="select-wrap">
            <select name="account" class="select-title ue-clear" required >
                <option value="">全部</option>
                {foreach $accList as $k=>$v}
                <option value="{$v.account}" {if !empty($data) && $data.account eq $v.account} selected {/if}>{$v.account}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <p class="short-input ue-clear">
        <label>开仓时间：</label>
        <input type="text" name="timeopen" required placeholder="开仓时间" value="{$data.timeopen|default=''}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd H:i:s'})" />
    </p>
    <p class="long-input ue-clear">
        <label>订单号：</label>
        <input type="text" name="ticket"  required  {if !empty($data)} readonly {/if} placeholder="订单号" value="{$data.ticket|default=''}"/>
    </p>
    <p class="long-input ue-clear">
        <label>类型：</label>
        <input type="text" name="type" required placeholder="请输入类型" value="{$data.type|default=''}"/>
    </p>
    <p class="long-input ue-clear">
        <label>手数：</label>
        <input type="text" name="volume" required placeholder="请输入手数" value="{$data.volume|default=''}" />
    </p>
    <p class="short-input ue-clear">
        <label>品种：</label>
        <input type="text" name="symbol" required placeholder="品种" value="{$data.symbol|default=''}" />
    </p>
    <p class="short-input ue-clear">
        <label>开仓价格：</label>
        <input type="text" name="priceopen" required placeholder="开仓价格" value="{$data.priceopen|default=''}" />
    </p>

    <p class="short-input ue-clear">
        <label>平仓时间：</label>
        <input type="text" name="timeclose" placeholder="平仓时间" required onfocus="WdatePicker({dateFmt:'yyyy-MM-dd H:i:s'})" value="{$data.timeclose|default=''}" />
    </p>
</div>
<div class="btn ue-clear">
    <a href="javascript:;" class="confirm form-submit">确定</a>
    <a href="javascript:;" class="clear form-back">返回</a>
</div>
</form>
<script type="text/javascript" src="__PUBLIC__/backiubo/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/backiubo/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/backiubo/js/WdatePicker.js"></script>
<script src="__PUBLIC__/plugins/layer/layer.js"></script>
<script src="__PUBLIC__/core/global.js"></script>
{include file="iubo@public/submit"}
</body>

</html>
